.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/bacupNEXT/
.DS_Store
static/anim-vp9-chrome.webm
static/anim-hevc-safari.mp4
static/anim.mov
static/anim.mp4
src/lib/images/3d/PhoneOBJ.rar
src/lib/images/3d/PhoneOBJ/Phone.obj
src/lib/images/3d/PhoneOBJ/Phone.mtl
src/lib/images/3d/phone.obj
src/lib/images/3d/phone1.obj
src/lib/images/3d/macbook-kopia.json
threeJSPlayground-master.zip
.DS_Store
