.slidex{

position: relative;

        .slide{
            width: 25%;
            height: 100%;
            min-width: 20px;
            min-width: 200px;
            position: relative;
            background-color: red;
            display: inline-block;
        }

        


}
  